name: 04 - using actions

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 04-using-actions
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: "latest"
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
      - name: Install Dependecies
        run: pnpm install --frozen-lockfile
      - name: Run Unit Tests
        run: pnpm test
